/* 注意 被 :local() 包裹起来的类名，会被模块化；默认情况下所以的 类名 和 Id ，都被模块化了 */
/* :local(.title)
{
    font-weight: 200;  text-align: center;  color: red;
} */

.title
{
    font-weight: 200;  text-align: center;  color: red;
}

/* css模块化只针对 类选择器 和 id 选择器生效 */
/* Css 模块化 不会将标签选择器模块化 */
/* h1
{
    font-style: italic;
} */

/* 被 :global() 包裹起来的不会被模块化 */
:global(.test)
{
    font-style: italic;
}
